using Diagnostics;

message MongoDB30Entry 
	with EntryInfo { Regex = @"^(?<Timestamp>\S+)\s+(?<Severity>[DIWEF])\s+(?<Component>\S+)\s+(\[(?<Context>\S+)])?\s*(?<Message>.*)",
				     Multiline = HandleMultiline } : LogEntry
{
	DateTime Timestamp with EntryFieldInfo {IsTimestamp = true, IsLocalTime = false };
	string Severity;
	string Component;
	string Context;
	string Message;

	bool HandleMultiline(string line, LineContext context)
	{
		if (context.IsInitialLine)
		{
			return true;
		}

		if (line.Count > 0 && line[0] == ' ')
		{
			Message += line;
			return true;
		}

		return false;
	}
}